img{
    border: 2px;
    border-style: solid;
    margin: 5px;
}

.imgleft{
    float: left;
}

.imgright{
    float: right;
}

div{
    background-color: aquamarine;
    padding: 20px;
    text-align: center;
    height: 1000px;
}

p{
    text-align: justify;
}